
/* Header and Nav Links */
body {
    background-color: seashell;
}

header {
    background-color: rosybrown;
    border-bottom: 5px solid black;
}

h1 {
    background-color: seashell;
    color: rosybrown;
}

nav li a,
footer p {
    color: seashell;
}

/* Contact Form Changes */

h2 {
    color: rosybrown;
}

.btn {
    background-color: rosybrown;
    border: 1 solid rosybrown;
    color: seashell;
}

/* Footer */
footer {
    background-color: rosybrown;
    border-top: 5px solid black;
}