
/* Header and Nav Links */
body {
    background-color: seashell;
}

header {
    background-color: rosybrown;
    border-bottom: 5px solid black;
}

h1, .btn {
    background-color: seashell;
    color: rosybrown;
}

.nav-link,
footer p {
    color: seashell;
}

.nav-link:hover,
a.active {
    color: black;
}

/* Contact Form Changes */

.contact-bg {
    background-color: rosybrown;
    color: seashell;
}

.contact-btn {
    border: rosybrown;
    box-shadow: none;
}

.contact-btn:hover,
.contact-btn:active,
.contact-btn:focus,
.contact-btn:active:focus{
    background-color: black;
    border: black;
    box-shadow: none;
    color: rosybrown;
}

/* Footer */
footer {
    background-color: rosybrown;
    border-top: 5px solid black;
}

.footer-margin {
    height: 100px; 
}