
/* Header and Nav Links */
body {
    background-color: seashell;
}

header {
    background-color: rosybrown;
    border-bottom: 5px solid black;
}

h1, .btn {
    background-color: seashell;
    color: rosybrown;
}

nav li a,
footer p {
    color: seashell;
}

a.nav-link:hover {
    color: black;
}

/* Contact Form Changes */

h2 {
    color: rosybrown;
}

.contact-bg {
    background-color: rosybrown;
    color: seashell;
}

.btn.btn-primary {
    border: 2 solid rosybrown;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: black;
    border: black;
}

/* Footer */
footer {
    background-color: rosybrown;
    border-top: 5px solid black;
}